:root {
    --bg: #191919;
    --highlightbg: #2A2A2A;
    --txt: #EEEEEE;
    --htxt: #FFFFFF;
    --highlighttxt: #FFFFFF
}

@font-face {
    font-family: roboto slab;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Roboto_Slab.woff2)format('woff2')
}

body {
    margin: 40px auto;
    max-width: 700px;
    line-height: 1.8;
    font-size: 16px;
    font-family: roboto slab, Verdana, Arial;
    color: var(--txt);
    padding: 0 10px;
    background-color: var(--bg);
    hyphens: auto
}

p {
    margin: 20px 0
}

a {
    color: #ccf
}

a:hover {
    color: var(--highlighttxt)
}

h1 {
    color: var(--htxt);
    font-size: 28px;
    margin: 10px
}

h2 {
    color: var(--htxt);
    font-size: 24px
}

hr {
    border: none;
    height: 1px;
    color: #444;
    background-color: #444
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

pre {
    overflow-x: auto
}

header {
    text-align: center
}

@media only screen and (max-width:750px) {
    .intro {
        text-align: left
    }
}

@media only screen and (min-width:750px) {
    .intro {
        width: 420px;
        margin: 0 auto
    }
}

.avatar {
    border-radius: 50%
}

.icons {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center
}

svg {
    fill: var(--txt)
}

svg:hover {
    fill: var(--highlighttxt)
}

.generaltable {
    text-align: left;
    max-width: fit-content;
    margin: 0 auto;
    display: block;
    overflow-x: auto
}

.generaltable td,
.generaltable th {
    padding: 0 10px
}

.papers {
    list-style-type: none;
    padding: 0;
    margin: 2em 0
}

code:not(pre *) {
    white-space: nowrap;
}

details {
    margin: 20px 10px;
    border-radius: 10px;
    border: 3px solid var(--highlightbg)
}

details>summary {
    padding: 15px 20px;
    cursor: pointer;
    color: #ccf;
    background-color: var(--highlightbg)
}

details>p {
    padding-left: 20px;
    padding-right: 20px
}

@media only screen and (min-width:750px) {
    details>summary:hover {
        color: var(--highlighttxt)
    }
}

.blogtable {
    border-spacing: 15px
}

.blogtable td:first-child {
    text-align: left
}

.blogtable td:last-child {
    text-align: right
}

@media only screen and (min-width:750px) {
    .blogtable td:first-child {
        width: 100%
    }

    .blogtable td:last-child {
        white-space: nowrap
    }
}

@media only screen and (max-width:750px) {
    .blogtable {
        width: 100%
    }

    .blogtable td,
    .blogtable tr {
        display: block
    }
}

footer {
    text-align: center;
    font-size: 14px;
    font-style: oblique;
    padding-top: 10px
}